.logo {
    width: 70px;
    height: 60px;
}

.bg-kuning {
    background: rgb(181, 246, 246);
}

.merah{
    background: red;
}

.biru{
    background: blue;
}

.kuning{
    background: yellow;
}

.none {
    text-decoration: none;
}